* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #e3e7e8;
  font-family: system-ui;
}
.container {
  width: 1616px;
  max-width: 90%;
  margin: 0 auto;
}
header {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-top: 50px;
}
header .shopping {
  position: relative;
  text-align: right;
}
header .shopping img {
  width: 40px;
  cursor: pointer;
}
header .shopping span {
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -5px;
  left: 80%;
  padding: 3px 10px;
}

.list {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 50px;
}
.list .item {
  text-align: center;
  background-color: #dce0e1;
  padding: 10px;
  box-shadow: 0 50px 50px #757676;
  letter-spacing: 1px;
}
.list .item img {
  width: 50%;
}
.list .item .title {
  font-weight: 600;
}
.list .item .price {
  margin: 10px;
}
.list .item button {
  cursor: pointer;
  background-color: #1c1f25;
  color: #fff;
  width: 50%;
  padding: 10px;
}

.list .item button:hover {
  background-color: rgb(51, 174, 133);
}

.card {
  position: fixed;
  top: 0;
  left: 100%;
  width: 500px;
  background-color: #453e3b;
  height: 100vh;
  transition: 0.5s;
}
.active .card {
  left: calc(100% - 500px);
  z-index: 9999;
}
.active .container {
  transform: translateX(-200px);
}
.card h1 {
  color: #e8bc0e;
  font-weight: 100;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}
.card .checkOut {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card .checkOut div {
  background-color: #e8bc0e;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.card .checkOut div:hover {
  background-color: rgb(5, 245, 165);
}
.card .checkOut div:nth-child(2) {
  background-color: #1c1f25;
  color: #fff;
}
.card .checkOut div:nth-child(2):hover {
  background-color: #f41e1e;
  color: #fff;
}
.listCard li {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  color: #fff;
  row-gap: 10px;
}
.listCard li div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listCard li img {
  width: 90%;
}
.listCard li button {
  background-color: #fff5;
  border: none;
  cursor: pointer;
}
.listCard .count {
  margin: 0 10px;
}

/* typography start */
.nav_container {
  width: 1616px;
  max-width: 90%;
  margin: 0 auto;
}

.icons > i {
  cursor: pointer;
  margin-left: 25px;
}

.nav_links {
  color: #000;
  transition: all 0.3s ease-in-out;
}

.active {
  color: #f5f2f2;
  background-color: #3f3e3e;
  border-radius: 10px;
  border-bottom: 1px solid black;
  transition: all 0.3s ease-in-out;
  padding: 7px;
  border-bottom: 1px solid black;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.775);
  padding: 1.5em 2em;

  position: fixed;
  top: 0;
  z-index: 99;
  margin-top: 0;
}
.nav_links:hover {
  color: #f5f2f2;
  background-color: #3f3e3e;
  border-radius: 10px;
  border-bottom: 1px solid black;
  transition: all 0.3s ease-in-out;
  padding: 7px;
}
/* typography end */

/* navbar start */
.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_menu_list {
  display: flex;
  gap: 15px;
}

.logo_title {
  text-align: center;
  border-bottom: 1px solid black;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.nav_menu > .hamburger > .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #000;
}

.title_cart {
  margin-top: 100px;
}

.input_group input,
.input_group button {
  padding: 10px;
  border: 0;
  outline: none;
}

footer {
  margin-top: 50px;
  background-color: #000;
  padding: 3em;
}
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #fff;
  align-content: center;
}
.footer_item {
  border: 1px solid #fff;
  padding: 1em;
  display: grid;
  justify-content: center;
}
.f_icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: end;
}

.f_icons > a > i {
  font-size: 3rem;
  color: #fff;
  margin-right: 25px;
  text-align: center;
}

.col-2_footer {
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 0.82rem;
  margin-top: 10px;
}

.col-2_footer ul a {
  color: #fff;
}

.col-2_footer ul {
  color: #fff;
  display: flex;
  gap: 20px;
}

.col-2_footer ul a:hover {
  color: #036ef9;
}

.footer_item > h1 {
  font-size: 1.2rem;
  text-align: center;
}
.footer_item > p {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 5px;
}
/* footer end */

.navbars {
  background-color: #f2f2f2;
  padding: 25px;
}

@media screen and (max-width: 768px) {
  .list {
    display: flex;
    flex: 5px auto;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
    padding: 50px;
  }
  .list .item {
    text-align: center;
    background-color: #dce0e1;
    padding: 10px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
  }
  .list .item img {
    width: 80%;
  }
  .list .item .title {
    font-weight: 600;
  }
  .list .item .price {
    margin: 10px;
  }
  .list .item button {
    cursor: pointer;
    background-color: #1c1f25;
    color: #fff;
    width: 50%;
    padding: 10px;
  }
  .footer {
    grid-template-columns: 1fr;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    background-color: #fff;
  }

  .nav_menu_list {
    position: fixed;
    left: -100%;
    top: 80px;
    width: 100%;
    height: 100vh;
    gap: 10px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    flex-direction: column;
    background-color: #fff;
    border-top: 1px solid #000;
  }
  .nav_menu_item {
    margin: 16px 50px;
    font-size: 1rem;
  }
  .nav_menu_list.active {
    left: 0;
  }
  .f_icons > a > i {
    font-size: 1rem;
    margin-top: 5px;
    text-align: center;
    margin-left: 10px;
  }
  .input_group input,
  .input_group button {
    padding: 5px;
    margin-top: 10px;
  }

  .col-2_footer {
    flex: 1;
    font-size: 0.5rem;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }
}
